body {
    background: url('https://images.pexels.com/photos/2533684/pexels-photo-2533684.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    ="w3-grayscale";
    width: 300px;
    height: 200px;
}

.card_image
img {
    border-radius: 50%;
}
img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}
.card {
    background: lightgreen;
    width: 750px;
    padding: 3rem;
}


.card_image {
    width: 100%
height: 1500px;
    object-fit: scale-down;
}



#grid{
    display: grid;
    grid-template-areas:
    'h1 h2 h3'
    'sl main sr'
    'fl fl fr';
    grid-template-columns: 300px auto 500px;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
}
.gridItem1 {
    grid-area: h1;
}
.gridItem2 {
    grid-area: h2;
    display:flex;
    justify-content:center;
    align-items:center;
    padding: 20px;
}
.gridItem3 {
    grid-area: h3;
    display:flex;
    justify-content:flex-end;
    align-items:left;
    padding-right: 150px;
}
.gridItem4 {
    grid-area: sl;
}
.gridItem5 {
    grid-area: main;
}
.gridItem6 {
    grid-area: sr;
}
.gridItem7 {
    grid-area: fl;
}
.gridItem8 {
    grid-area: fr;
}

.gridItem2 a {
    font-size: 20px;
    margin: 0 3px;
    border-right: 2px solid darkgray;
}


}
.skill {
    padding-bottom: 10px;
}
.skillProgress {
    width: 100%;
    height: 20px;
    background-color: antiquewhite;
}

.gridItem6 {
    text-align: center;
}
.gridItem6 h3{
    padding-bottom: 5px;
    border-bottom: 2px dashed black;
    margin-bottom: 5px;
}
.gridItem6 img {
    width: 230px;
}

.gridItem7, .gridItem8 {
    background-color: darkgray;
    grid-column-gap: 0;
}